.button {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
  padding: 0.4rem 0.5rem;
  font-family: Arial;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid #777;
  box-shadow: 1px 1px 0 0 var(--button-box-shadow-color);
  outline: none;
  transition: 300ms;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-button-bg-hover);
  }
}
