.contact-container {
  display: flex;
  justify-content: center;
}
.contact__form {
  width: min(600px, 100%);
  border: 1px solid #ccc;
}
.form__radio {
  display: flex;
  justify-content: space-between;
}
.form__radio-button {
  display: none;
}
.form__radio-button:checked + .form__radio-label {
  border-color: #777;
}
.form__radio-label {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  width: 180px;
  border-radius: 0.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px solid transparent;
  font-size: 2rem;
  transition: 300ms;
  &:hover {
    background-color: #efefef;
  }
}
