.repo-cards-container {
  margin: 6rem 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 500px) {
    justify-content: center;
    gap: 3rem;
  }
}
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
