.nav-wrapper {
  background-color: var(--nav-background-color);
  width: min(1024px, 100%);
  color: var(--nav-text-color);
  font-size: 1.2rem;
  font-family: Inter;
  display: flex;
  justify-content: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  font-family: "Lobster", sans-serif;
  font-size: 2.4rem;
}
.nav__logo--link {
  color: #69c4cf;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.nav-container {
  width: min(1024px, 100%);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.nav__menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.nav__item {
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--nav-text-color);
  text-decoration: none;
  border-radius: 0.4rem;
  transition: 300ms;
  border: 1px solid transparent;
  @media screen and (min-width: 800px) {
    &:hover {
      background-color: var(--nav-hover-bg);
      border-color: #9d9d9d;
      color: #333;
    }
  }
  @media screen and (max-width: 400px) {
    padding: 1rem;
  }
}
.nav__item--active {
  background-color: var(--nav-active-bg);
  border: 1px solid var(--nav-text-color);
}
.toggle-container {
  padding: 0 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 400px) {
    padding: 0 1rem;
  }
}
